<!doctype html>
html(lang="en")
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        link(rel="stylesheet", href="css.css")
        <title>Home IP Services</title>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </head>
    body

        main(role='main')

        div.container

            div.row
                div.col-sm-6

                    div.card
                        img.card-img-top(src="home2.jpg", alt="home")

                        div.card-body
                            h5.card-title Home IP Services

                        div.card-body
                            ul.list-group
                                a.list-group-item.list-group-action.active(href="https://"+ current_ip +":4443/ui/") Home Automation
                                //-
                                    a.list-group-item.list-group-action(href="https://"+ current_ip +":4443/monit/") pi3 Monit
                                    a.list-group-item.list-group-action(href="https://"+ current_ip +":4443/admin/") pi3 pi-hole

                                    a.list-group-item.list-group-action(href="http://"+ current_ip) Home
                                    a.list-group-item.list-group-action(href="http://"+ current_ip +"/ui/") pi2 UI
                                    a.list-group-item.list-group-action(href="http://"+ current_ip +"/monit/") pi2 Monit
                                    a.list-group-item.list-group-action(href="http://"+ current_ip +"/html/") pi2 Camera
